[uport-credentials](../README.md) > ["Credentials"](../modules/_credentials_.md) > [Verification](../interfaces/_credentials_.verification.md)

# Interface: Verification

## Hierarchy

 [JWTPayload](_credentials_.jwtpayload.md)

**↳ Verification**

## Index

### Properties

* [aud](_credentials_.verification.md#aud)
* [claims](_credentials_.verification.md#claims)
* [exp](_credentials_.verification.md#exp)
* [iat](_credentials_.verification.md#iat)
* [iss](_credentials_.verification.md#iss)
* [jwt](_credentials_.verification.md#jwt)
* [sub](_credentials_.verification.md#sub)
* [type](_credentials_.verification.md#type)

---

## Properties

<a id="aud"></a>

### `<Optional>` aud

**● aud**: *`string`*

*Inherited from [JWTPayload](_credentials_.jwtpayload.md).[aud](_credentials_.jwtpayload.md#aud)*

*Defined in [Credentials.ts:65](https://github.com/uport-project/uport-credentials/blob/25b41e5/src/Credentials.ts#L65)*

___
<a id="claims"></a>

###  claims

**● claims**: *`any`*

*Defined in [Credentials.ts:135](https://github.com/uport-project/uport-credentials/blob/25b41e5/src/Credentials.ts#L135)*

___
<a id="exp"></a>

### `<Optional>` exp

**● exp**: *`number`*

*Inherited from [JWTPayload](_credentials_.jwtpayload.md).[exp](_credentials_.jwtpayload.md#exp)*

*Defined in [Credentials.ts:68](https://github.com/uport-project/uport-credentials/blob/25b41e5/src/Credentials.ts#L68)*

___
<a id="iat"></a>

### `<Optional>` iat

**● iat**: *`number`*

*Inherited from [JWTPayload](_credentials_.jwtpayload.md).[iat](_credentials_.jwtpayload.md#iat)*

*Defined in [Credentials.ts:66](https://github.com/uport-project/uport-credentials/blob/25b41e5/src/Credentials.ts#L66)*

___
<a id="iss"></a>

### `<Optional>` iss

**● iss**: *`string`*

*Inherited from [JWTPayload](_credentials_.jwtpayload.md).[iss](_credentials_.jwtpayload.md#iss)*

*Defined in [Credentials.ts:63](https://github.com/uport-project/uport-credentials/blob/25b41e5/src/Credentials.ts#L63)*

___
<a id="jwt"></a>

### `<Optional>` jwt

**● jwt**: *`string`*

*Defined in [Credentials.ts:136](https://github.com/uport-project/uport-credentials/blob/25b41e5/src/Credentials.ts#L136)*

___
<a id="sub"></a>

### `<Optional>` sub

**● sub**: *`string`*

*Inherited from [JWTPayload](_credentials_.jwtpayload.md).[sub](_credentials_.jwtpayload.md#sub)*

*Defined in [Credentials.ts:64](https://github.com/uport-project/uport-credentials/blob/25b41e5/src/Credentials.ts#L64)*

___
<a id="type"></a>

### `<Optional>` type

**● type**: *`string`*

*Inherited from [JWTPayload](_credentials_.jwtpayload.md).[type](_credentials_.jwtpayload.md#type)*

*Defined in [Credentials.ts:67](https://github.com/uport-project/uport-credentials/blob/25b41e5/src/Credentials.ts#L67)*

___

