[uport-credentials](../README.md) > [Verification](../interfaces/verification.md)

# Interface: Verification

## Hierarchy

 [JWTPayload](jwtpayload.md)

**↳ Verification**

## Index

### Properties

* [aud](verification.md#aud)
* [claims](verification.md#claims)
* [exp](verification.md#exp)
* [iat](verification.md#iat)
* [iss](verification.md#iss)
* [jwt](verification.md#jwt)
* [sub](verification.md#sub)
* [type](verification.md#type)

---

## Properties

<a id="aud"></a>

### `<Optional>` aud

**● aud**: *`string`*

___
<a id="claims"></a>

###  claims

**● claims**: *`any`*

___
<a id="exp"></a>

### `<Optional>` exp

**● exp**: *`number`*

___
<a id="iat"></a>

### `<Optional>` iat

**● iat**: *`number`*

___
<a id="iss"></a>

### `<Optional>` iss

**● iss**: *`string`*

___
<a id="jwt"></a>

### `<Optional>` jwt

**● jwt**: *`string`*

___
<a id="sub"></a>

### `<Optional>` sub

**● sub**: *`string`*

___
<a id="type"></a>

### `<Optional>` type

**● type**: *`string`*

___

