[uport-credentials](../README.md) > [Verification](../interfaces/verification.md)

# Interface: Verification

## Hierarchy

 [JWTPayload](jwtpayload.md)

**↳ Verification**

## Index

### Properties

* [aud](verification.md#aud)
* [claims](verification.md#claims)
* [exp](verification.md#exp)
* [iat](verification.md#iat)
* [iss](verification.md#iss)
* [jwt](verification.md#jwt)
* [sub](verification.md#sub)
* [type](verification.md#type)

---

## Properties

<a id="aud"></a>

### `<Optional>` aud

**● aud**: *`string`*

*Inherited from [JWTPayload](jwtpayload.md).[aud](jwtpayload.md#aud)*

*Defined in [Credentials.ts:65](https://github.com/uport-project/uport-credentials/blob/c498e74/src/Credentials.ts#L65)*

___
<a id="claims"></a>

###  claims

**● claims**: *`any`*

*Defined in [Credentials.ts:135](https://github.com/uport-project/uport-credentials/blob/c498e74/src/Credentials.ts#L135)*

___
<a id="exp"></a>

### `<Optional>` exp

**● exp**: *`number`*

*Inherited from [JWTPayload](jwtpayload.md).[exp](jwtpayload.md#exp)*

*Defined in [Credentials.ts:68](https://github.com/uport-project/uport-credentials/blob/c498e74/src/Credentials.ts#L68)*

___
<a id="iat"></a>

### `<Optional>` iat

**● iat**: *`number`*

*Inherited from [JWTPayload](jwtpayload.md).[iat](jwtpayload.md#iat)*

*Defined in [Credentials.ts:66](https://github.com/uport-project/uport-credentials/blob/c498e74/src/Credentials.ts#L66)*

___
<a id="iss"></a>

### `<Optional>` iss

**● iss**: *`string`*

*Inherited from [JWTPayload](jwtpayload.md).[iss](jwtpayload.md#iss)*

*Defined in [Credentials.ts:63](https://github.com/uport-project/uport-credentials/blob/c498e74/src/Credentials.ts#L63)*

___
<a id="jwt"></a>

### `<Optional>` jwt

**● jwt**: *`string`*

*Defined in [Credentials.ts:136](https://github.com/uport-project/uport-credentials/blob/c498e74/src/Credentials.ts#L136)*

___
<a id="sub"></a>

### `<Optional>` sub

**● sub**: *`string`*

*Inherited from [JWTPayload](jwtpayload.md).[sub](jwtpayload.md#sub)*

*Defined in [Credentials.ts:64](https://github.com/uport-project/uport-credentials/blob/c498e74/src/Credentials.ts#L64)*

___
<a id="type"></a>

### `<Optional>` type

**● type**: *`string`*

*Inherited from [JWTPayload](jwtpayload.md).[type](jwtpayload.md#type)*

*Defined in [Credentials.ts:67](https://github.com/uport-project/uport-credentials/blob/c498e74/src/Credentials.ts#L67)*

___

