[uport-credentials](../README.md) > [Verification](../interfaces/verification.md)

# Interface: Verification

## Hierarchy

 [JWTPayload](jwtpayload.md)

**↳ Verification**

## Index

### Properties

* [aud](verification.md#aud)
* [claims](verification.md#claims)
* [exp](verification.md#exp)
* [iat](verification.md#iat)
* [iss](verification.md#iss)
* [jwt](verification.md#jwt)
* [sub](verification.md#sub)
* [type](verification.md#type)

---

## Properties

<a id="aud"></a>

### `<Optional>` aud

**● aud**: *`string`*

*Inherited from [JWTPayload](jwtpayload.md).[aud](jwtpayload.md#aud)*

*Defined in [Credentials.ts:58](https://github.com/uport-project/uport-credentials/blob/2b03873/src/Credentials.ts#L58)*

___
<a id="claims"></a>

###  claims

**● claims**: *`any`*

*Defined in [Credentials.ts:128](https://github.com/uport-project/uport-credentials/blob/2b03873/src/Credentials.ts#L128)*

___
<a id="exp"></a>

### `<Optional>` exp

**● exp**: *`number`*

*Inherited from [JWTPayload](jwtpayload.md).[exp](jwtpayload.md#exp)*

*Defined in [Credentials.ts:61](https://github.com/uport-project/uport-credentials/blob/2b03873/src/Credentials.ts#L61)*

___
<a id="iat"></a>

### `<Optional>` iat

**● iat**: *`number`*

*Inherited from [JWTPayload](jwtpayload.md).[iat](jwtpayload.md#iat)*

*Defined in [Credentials.ts:59](https://github.com/uport-project/uport-credentials/blob/2b03873/src/Credentials.ts#L59)*

___
<a id="iss"></a>

### `<Optional>` iss

**● iss**: *`string`*

*Inherited from [JWTPayload](jwtpayload.md).[iss](jwtpayload.md#iss)*

*Defined in [Credentials.ts:56](https://github.com/uport-project/uport-credentials/blob/2b03873/src/Credentials.ts#L56)*

___
<a id="jwt"></a>

### `<Optional>` jwt

**● jwt**: *`string`*

*Defined in [Credentials.ts:129](https://github.com/uport-project/uport-credentials/blob/2b03873/src/Credentials.ts#L129)*

___
<a id="sub"></a>

### `<Optional>` sub

**● sub**: *`string`*

*Inherited from [JWTPayload](jwtpayload.md).[sub](jwtpayload.md#sub)*

*Defined in [Credentials.ts:57](https://github.com/uport-project/uport-credentials/blob/2b03873/src/Credentials.ts#L57)*

___
<a id="type"></a>

### `<Optional>` type

**● type**: *`string`*

*Inherited from [JWTPayload](jwtpayload.md).[type](jwtpayload.md#type)*

*Defined in [Credentials.ts:60](https://github.com/uport-project/uport-credentials/blob/2b03873/src/Credentials.ts#L60)*

___

